h1 {
    padding: 20px;
}

#home {
    height: 609px;
    padding: 30px;
}
#logo {
    width: 100%;
}

.center {
    text-align: center;
}
.hanna {
    font-family: 'Hanna', serif;
}
.gray {
    color: #333;
}
.select {
    margin: 30px;
}
