<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="static/css/home.css">
    </head>
    <body>
        <div id="wrapper">
            <div id="content-left">
                <img class="content-image" src="static/img/img_assembly.jpg">
                <h1 class="content-title">
                    국회생활기록부
                </h1>
                <h2 class="content-subtitle">
                    당신이 선택한 의원, 지금 무엇을 하고 있습니까?
                </h2>
                <a class="content-link" href="{{ url_for('map') }}">
                    살펴보기
                </a>
            </div>
            <div id="content-right">
                <a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=main.html" target="_blank">Facebook</a>
                <a class="share-twitter" href="https://twitter.com/share" class="twitter-share-button">Twitter</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>
    </body>
</html>
