<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/home.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/map.css") }}">
    </head>
    <body>
        <div id="wrapper">
            <div id="content-left">
                {% with width = 300 %}
                {% include "korea.svg" with context %}
                {% endwith %}
                <script>
(function (global) {
var regions = document.getElementsByClassName('region');
for (var i = 0, len = regions.length; i < len; i++) {
    var region = regions[i];
    region.onclick = (function (url) {
        return function () {
            location.href = url;
        };
    }('/map/' + region.attributes['data-region_id'].value));
}
} (window));
                </script>
            </div>
            <div id="content-right">
            </div>
        </div>
    </body>
</html>
